streamlit
langchain>=0.1.0
langchain-community>=0.0.20
langchain-together>=0.0.5
langchain-text-splitters
faiss-cpu
pypdf
tiktoken
pandas
openpyxl
langchain-core
langchain-openai
sentence-transformers
langchain-huggingface
